<?xml version="1.0" encoding="utf-8"?>
<!-- ITMD-555 Android App Development -->
<!-- Dennis Grzegorzewski -->
<!-- Christopher Montufar -->
<!-- Final Project -->
<!-- Due: 12/05/2016 -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.grzegorzewski.customholdingslistbuilder">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GetLocationActivity">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>